// styles/global.scss
@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

body {
  margin: 0;
}
//navbar
a,
button {
  cursor: pointer;
}
nav {
  font-family: "Press Start 2P";
  display: flex;
  align-items: baseline;
  height: 50px;
  padding-left: 6vw;
  padding-bottom: 15px;
  background-color: #e04949;
  a {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    p {
      font-size: x-large;
      align-self: center;
    }
  }
}
//index
main {
  text-transform: uppercase;
  font-family: "Press Start 2P";
  height: 90vh;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 3vh 3vw;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .pokemon {
    padding: 0 5px;
    margin-bottom: 25px;
    text-align: center;
    flex: 0 0 13%;
    font-size: 11px;
    cursor: pointer;
    .pokemon_sprite {
      img {
        width: 100px;
        height: auto;
      }
    }
    .pokemon_name {
      p {
        font-size: 11px;
        color: gray;
      }
    }
    .pokemon_type {
      font-size: 9px;
      .type {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        p {
          margin: 5px 10px 5px 10px;
        }
        .fairy {
          color: #ee99ee;
        }
        .ice {
          color: #66ccff;
        }
        .dragon {
          color: #7766ee;
        }
        .normal {
          color: #aaaa99;
        }
        .rock {
          color: #bbaa66;
        }
        .fire {
          color: #ff4422;
        }
        .flying {
          color: #8899ff;
        }
        .bug {
          color: #aabb22;
        }
        .electric {
          color: #ffcc33;
        }
        .fighting {
          color: #bb5544;
        }
        .psychic {
          color: #ff5599;
        }
        .water {
          color: #3399ff;
        }
        .steel {
          color: #aaaabb;
        }
        .ghost {
          color: #6666bb;
        }
        .dark {
          color: #775544;
        }
        .poison {
          color: #aa5599;
        }
        .grass {
          color: #77cc55;
        }
        .ground {
          color: #ddbb55;
        }
      }
    }
  }
}

//pagination
.pagination {
  text-align: center;
  button {
    font-family: "Press Start 2P";
    font-size: xx-small;
  }
  .pagination_buttons {
    display: flex;
    justify-content: center;
    .pagination_item {
      margin: 0 5px;
      margin-bottom: 5vh;
    }
  }
}
//detail pokemon
.pokemon_detail {
  .catch {
    text-align: center;
    button {
      padding: 5px 15px;
    }
  }
  .pokemon_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    .pokemon_sprite {
      image-rendering: pixelated;
      align-self: end;
      .image {
        height: 400px;
      }
    }
    .pokemon_desc {
      align-self: end;
      width: 40%;
      .pokemon_status {
        p {
          margin: 0;
        }
        .status_container {
          background-color: rgba(65, 206, 199, 0.205);
          display: flex;
          color: white;
          .status {
            background-color: rgba(12, 180, 172, 0.685);
            padding: 2px;
          }
        }
      }
      .pokemon_name {
        font-size: x-large;
        font-weight: bold;
        margin: 0%;
      }
      .type {
        display: flex;
        p {
          margin-right: 15px;
          color: white;
          padding: 3px;
        }
        .Fairy {
          background-color: #ee99ee;
        }
        .Ice {
          background-color: #66ccff;
        }
        .Dragon {
          background-color: #7766ee;
        }
        .Normal {
          background-color: #aaaa99;
        }
        .Rock {
          background-color: #bbaa66;
        }
        .Fire {
          background-color: #ff4422;
        }
        .Flying {
          background-color: #8899ff;
        }
        .Bug {
          background-color: #aabb22;
        }
        .Electric {
          background-color: #ffcc33;
        }
        .Fighting {
          background-color: #bb5544;
        }
        .Psychic {
          background-color: #ff5599;
        }
        .Water {
          background-color: #3399ff;
        }
        .Steel {
          background-color: #aaaabb;
        }
        .Ghost {
          background-color: #6666bb;
        }
        .Dark {
          background-color: #775544;
        }
        .Poison {
          background-color: #aa5599;
        }
        .Grass {
          background-color: #77cc55;
        }
        .Ground {
          background-color: #ddbb55;
        }
      }
      .desc {
        p {
          margin: 0;
        }
      }
      .size {
        display: flex;
        p {
          margin-right: 20px;
        }
      }
    }
  }
}
//catch pokemon
.catchpokemon {
  height: 100vh;
  padding: 0 20vw;
  background-image: url("../public/battlefield.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .catchpokemon_info {
    text-align: center;
    background-color: white;
    padding: 10px;
    .catchpokemon_desc {
      display: flex;
      justify-content: space-between;
      .level {
        text-align: end;
      }
    }
    .catchpokemon_hp {
      background-color: rgba(65, 206, 199, 0.205);
      .status {
        display: flex;
        justify-content: space-between;
        background-color: rgba(12, 180, 172, 0.685);
      }
      p {
        margin: 2px;
      }
    }
  }
  .catchpokemon_sprite {
    text-align: center;
    .damaged {
      animation-name: example;
      animation-duration: 0.5s;
    }
    img {
      image-rendering: pixelated;
      transform: scale(3);
    }
  }
  .catchpokemon_action {
    background-color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;

    p {
      margin: 15px;
    }
  }
}
//loading
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes example {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
}

//my pokemon
.my_pokemon {
  margin: 3vh 3vw;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  .pokemon:hover {
    cursor: pointer;
  }
  .pokemon {
    padding: 0 5px;
    margin-bottom: 25px;
    flex: 0 0 13%;
    .my_pokemon_name {
      margin-bottom: 10px;
      p {
        margin: 0;
        font-size: smaller;
      }
      span {
        color: gray;
        font-size: 9px;
      }
    }
    .pokemon_name {
      p {
        font-size: 11px;
        color: gray;
      }
    }
    .pokemon_type {
      font-size: 9px;
      .type {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        p {
          margin: 5px 10px 5px 10px;
        }
        .Fairy {
          color: #ee99ee;
        }
        .Ice {
          color: #66ccff;
        }
        .Dragon {
          color: #7766ee;
        }
        .Normal {
          color: #aaaa99;
        }
        .Rock {
          color: #bbaa66;
        }
        .Fire {
          color: #ff4422;
        }
        .Flying {
          color: #8899ff;
        }
        .Bug {
          color: #aabb22;
        }
        .Electric {
          color: #ffcc33;
        }
        .Fighting {
          color: #bb5544;
        }
        .Psychic {
          color: #ff5599;
        }
        .Water {
          color: #3399ff;
        }
        .Steel {
          color: #aaaabb;
        }
        .Ghost {
          color: #6666bb;
        }
        .Dark {
          color: #775544;
        }
        .Poison {
          color: #aa5599;
        }
        .Grass {
          color: #77cc55;
        }
        .Ground {
          color: #ddbb55;
        }
      }
    }
  }
}
