// styles/global.scss
@import url("https://fonts.googleapis.com/css?family=Press Start 2P");

body {
  margin: 0;
}

//pagination
.pagination {
  text-align: center;
  button {
    font-family: "Press Start 2P";
    font-size: xx-small;
  }
  .pagination_buttons {
    display: flex;
    justify-content: center;
    .pagination_item {
      margin: 0 5px;
      margin-bottom: 5vh;
    }
  }
}

//loading
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//sprite animation
.catchpokemon_sprite {
  text-align: center;
  .damaged {
    animation-name: damaged;
    animation-duration: 0.5s;
  }
  img {
    image-rendering: pixelated;
    transform: scale(3);
  }
}
@keyframes damaged {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
}
