//navbar
.link,
.button {
  cursor: pointer;
}
.nav {
  font-family: "Press Start 2P";
  display: flex;
  align-items: baseline;
  height: 50px;
  padding: 1vh 3vw;
  // padding-left: 6vw;
  // padding-bottom: 15px;
  background-color: #e04949;
  a {
    padding: 0 2vw;
    color: white;
    text-decoration: none;
    p {
      font-size: x-large;
      align-self: center;
    }
  }
  a:hover {
    color: rgb(230, 224, 224);
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: small;
  }
}
