//detail pokemon
.pokemon_detail {
  .catch {
    text-align: center;
    button {
      padding: 5px 15px;
    }
  }
  .pokemon_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    .pokemon_sprite {
      image-rendering: pixelated;
      align-self: end;
      .image {
        height: 400px;
      }
    }
    .pokemon_desc {
      align-self: end;
      width: 40%;
      .pokemon_status {
        p {
          margin: 0;
        }
        .status_container {
          background-color: rgba(65, 206, 199, 0.205);
          display: flex;
          color: white;
          .status {
            background-color: rgba(12, 180, 172, 0.685);
            padding: 2px;
          }
        }
      }
      .pokemon_name {
        font-size: x-large;
        font-weight: bold;
        margin: 0%;
      }
      .type {
        display: flex;
        p {
          margin-right: 15px;
          color: white;
          padding: 3px;
        }
        .Fairy {
          background-color: #ee99ee;
        }
        .Ice {
          background-color: #66ccff;
        }
        .Dragon {
          background-color: #7766ee;
        }
        .Normal {
          background-color: #aaaa99;
        }
        .Rock {
          background-color: #bbaa66;
        }
        .Fire {
          background-color: #ff4422;
        }
        .Flying {
          background-color: #8899ff;
        }
        .Bug {
          background-color: #aabb22;
        }
        .Electric {
          background-color: #ffcc33;
        }
        .Fighting {
          background-color: #bb5544;
        }
        .Psychic {
          background-color: #ff5599;
        }
        .Water {
          background-color: #3399ff;
        }
        .Steel {
          background-color: #aaaabb;
        }
        .Ghost {
          background-color: #6666bb;
        }
        .Dark {
          background-color: #775544;
        }
        .Poison {
          background-color: #aa5599;
        }
        .Grass {
          background-color: #77cc55;
        }
        .Ground {
          background-color: #ddbb55;
        }
      }
      .desc {
        p {
          margin: 0;
        }
      }
      .size {
        display: flex;
        p {
          margin-right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .pokemon_detail {
    .pokemon_info {
      flex-direction: column;
      padding-top: 0;
      .pokemon_sprite {
        align-self: center;
        .image {
          height: 300px;
        }
      }
      .pokemon_desc {
        width: 100%;
      }
    }
  }
  .catch {
    margin-bottom: 5vh;
  }
}
